header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #F2D5D5;
    z-index: 3;   
}


#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 28px;
    color: brown;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav_item a {
    text-decoration: none;
    color: #6B4E41;
    font-weight: 600;
}

.nav_item.active a {
    color: #6B4E41;
    border-bottom: 3px solid rgb(112, 24, 24);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobilenav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px; 
    }

    #mobilenav_list .nav_item {
        list-style: none;
        text-align: center;
    }
}