#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
    color: MARROM #684E41;
}

#cta .title {
    font-size: 3rem;
    color: #684E41;
}

#cta .title span {
    color: #903272;
}

#cta .description {
    font-size: 1rem;
}

#cta_buttons{
    display: flex;
    gap: 20px;
    color: #F2D5D5;
}

#cta_buttons a {
    text-decoration: none;
    color: #ed9f9f;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: white;
    padding: 8px 14px;
    font-weight: 400;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;

}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: #B8787A;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;            
        padding-top: 0px;
        }

    #banner,
    #banner img,
    #home .shape {
        display: none;
        }

    #cta {
        width: 100%;
        margin-top: 28px;
        align-items: center;
        text-align: center;
        }
}