#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}


.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 20px;
    width: 50%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(90, 3, 3, 0.1);
    overflow: hidden;
}

.dish-image {
    margin-top: 45px;
    width: 75%;
    border-radius: 12px;
    object-fit: cover;
    position: relative;
}

.dish-heart {
    position: absolute;
    background-color: #B8787A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #F7E4EA;
    width: 50px;
    height: 50px;
    border-radius: 20px;    
}

.dish-description {
    color: #6A4A42;
    text-align: center;
}

.dish-rate {
    color: #7E2233;
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .dish {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }
}