
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F2D5D5;
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b86972;
    color: #ed9f9f;
    border-radius: 10px;
    padding: 10px 14px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-default:hover {
    background-color: #de7b89;
    color: #F2D5D5;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: white;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #6B4E41;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #b37474;
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}