#testimonials {
    min-height:  calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 40px;
}

#testimonials .section-subtitle {
    font-size: 3rem;
}

#testimonials_content {
    width: 40%;
}

#testimonials_logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#feedbacks {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 239, 239);
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
   color: rgb(241, 185, 115);
}


@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .subtitle {
        text-align: center;
        font-size: 2.5rem;
    }


    testimonials_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }
}